In [2]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [6]:
path_data = "../assets/"

## 新建flower表格

In [5]:
flower = Table().with_columns("Nuber of petals", make_array(8, 34, 5),
                    "petals", make_array("lotus", "sunflower", "rose"),
                    "Color", make_array("pink", "yellow", "red"))
flower

Nuber of petals | petals    | Color
8               | lotus     | pink
34              | sunflower | yellow
5               | rose      | red

## 从assets文件夹中读取.csv文件

In [10]:
minard = Table.read_table(path_data + "nba_salaries.csv")
# there is little mistake in the name and the relation of the .csv files, will be modified latter
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000